
<div class="jumbotron">
	<div class="container">
  <h1>Welcome to SongMonkey</h1>
  <p>Register to see and hear your local artists</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
</div>
 




