<div class="jumbotron">
 	<div class="container-fluid" id="welcome"> 	
  	<h1 id="title">Welcome to LyricMonkey</h1>
  	<p id="intro">Write your lyrics. Share it with others in your local area. </br>Register now to share your lyric book today.</p>
 	<button class="btn"><%= link_to 'Sign Up', new_user_path %></button>
  </div>
</div>





