/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 *= require_tree .
 *= require bootstrap
 */

@import url(http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css);
@import url(http://fonts.googleapis.com/css?family=Niconne);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic);

$headerfont: 'Niconne', cursive;
$textfont: 'Roboto Condensed', sans-serif;
$headercolor: #9A9B9C;
$bluegreycolor: #313542;
$textcolor: #67686D;
$bluecolor: #021440;
$linkcolor: #D98E04;

/*Navigation */

.navbar-collapse.collapse {
margin: 0;
background-color: $bluecolor;
height: 65px;
}
.navbar {
margin-bottom: 10px;
}

.navbar-toggle:hover {
background-color: $bluegreycolor;
}

.navbar-nav li a {
color: $textcolor;
font-family: $textfont;
}

.navbar-nav li a:hover {
background-color: $bluegreycolor;
}

.top {
background-color: $bluecolor;
}

.top .navbar-brand {
float: left;
padding: 7px 12px;
font-size: 15px;
height: 55px;
}

.top .container {
padding: 0;
background-color: #334B83;
}

/* main content */

.mainpage h1 {
text-align: center;
font-family: $headerfont;
font-family: 'Niconne', cursive;
font-size: 45px;
color: $bluegreycolor;
}

.mainpage {
margin-top: 80px;
}

.link a {
  color: #D98E04;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  
}
#rightcol {
  font-size: 20px;
  text-align: center;
}
