// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Niconne);

$mainfont: 'Niconne', cursive;


html {
background: url(grey_wash_wall.png); 
  }

 body {
 	position: center;
 }

 .container {
 	position: center;
 }

 li {
 		font-color: white;
 		display: block;
 		position: center;
 	}


h1 {
	text-align: center;
	font-family: $mainfont;
	font-size: 55px;
}

